<template>
  <require from="./item.css#module"></require>
  <main styles.main>
    <div styles.header>
      <a href.bind="item.domain" target="_blank">
        <h1>${item.title}</h1>
      </a>
      <span class="host">
        (${item.url | urlToDomain })
      </span>
      <p class="meta">
        ${item.score} points
        by&nbsp;
        <a href.bind="'/user/' + item.by" class="">${item.by}</a>
        ${item.time | timeAgo }
      </p>
    </div>
    <comments comments.bind="comments" count.bind="item.descendants"></comments>
</main>

</template>